# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcworkspace/
xcuserdata/
DerivedData/

# macOS
.DS_Store

# IDE
.idea/
*.swp
build/
